

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>... f3ade0 ...</title>
</head>
<body>

  <div>
<strong>Hello</strong>
    <h1>h1</h1>
  </div>
  <em>
    a
  </em>
<span>a</span>
<ul>
  <li>1</li>
  <li>2</li>
  <li>3</li>
</ul>
  <a href="https://narzullayevdilshod.pythonanywhere.com/">link</a>
  <a href="https://narzullayevdilshod.pythonanywhere.com/">link</a>
  <a href="https://narzullayevdilshod.pythonanywhere.com/">link</a>

</body>
</html>